body{
    text-align: center;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;    
    width: 80%;
    margin: auto;
}

.card{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 25rem;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
